extends layouts/layout

block content 
    .contenido-principal 
        h1 #{pageName} - #{project.name}

        form.agregar-tarea(action=`/projects/${project.url}` method="POST") 
            .campo
                label(for="task") Task:
                input.nombre-tarea(type="text" name="task" placeholder="Task name")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Add")

        //- Pending list
        .listado-pendientes 
            ul 
                if tasks.length
                    each item in tasks
                        li.tarea(data-task=item.id)
                            p=  item.task
                            .acciones 
                                i.fa.fa-check-circle(class=`${item.status ? 'completo' : ''}`)
                                i.fa.fa-trash
                else 
                    p There is not any task yet!

        //- Project progress
        .avance
            h2 Project progress
            #barra-avance.barra-avance
                #porcentaje.porcentaje


        //- Actions we can do
        .contenedor-acciones
            a(href=`/projects/edit/${project.id}` class="boton") Edit Project
            btn#eliminar-proyecto(type="button" class="boton eliminar" data-project-url=project.url) Delete Project